<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Administrator's Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<p class="navbar-brand" href="#"></a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li class="active"><a href="#">Home</a></li>
      				<li><a href="#">Course Management</a></li>
      				<li><a href="departmentmanagement.html" th:href="@{/departmentmanagement}">Department Management</a></li>
      				<li><a href="facultymanagement.html" th:href="@{/facultymanagement}">Faculty Management</a></li>
      				<li><a href="studentmanagement.html" th:href="@{/studentmanagement}">Student Management</a></li>
      				<li><a href="courseapplication.html" th:href="@{/courseapplication}">Course Application</a></li>
      				<li><a href="leaveapplication.html" th:href="@{/leaveapplication}">Leave Application</a></li>
      				<li><a href="#">Logout</a></li>
    			</ul>
  			</div>
		</nav>
	</div>
	
	<div class="container">
		<h1>Admin's page</h1>
		<p>Current Semester: <span th:text="${currentSemester.label}"></span></p>
		
		
		<div class="col-md-3">
			<form th:object="${currentSemester}" th:action="@{/savecurrentsemester}" method="post">
				<div class="form-group mb-2">
					<label for="currentSemester">Set Current Sem and Grad Status</label>
					<select th:field="*{semester}" class="form-control" id="editSemLabel" th:onchange="selectedSemLabel();">
						<option th:value="*{semester}" th:text="*{label}" selected></option>
						<option th:each="cs : ${allSemesters}" th:value="${cs.semester}" th:text="${cs.label}"></option>
					</select>
					<input type="hidden" th:value="*{label}" id="label" name="label">
					<div th:switch="${message}">
						<div th:case="'Success'" class="alert alert-success">
							<strong>Successfully</strong> set current semester and checked for graduating students
						</div>
						<div th:case="'Failed'" class="alert alert-danger">
							<strong>Failed</strong> in setting semester
						</div>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Apply</button>
				</div>
			</form>
		</div>
		<div class="col-md-3">
			<p>Pending Course Applications: <span th:text="${courseApplicationCounter}"></span></p>
			<p>Pending Leave Applications: <span th:text="${leaveApplicationCounter}"></span></p>
		</div>
	</div>
</body>
<script>
	function selectedSemLabel()
	{
	   let txt = $("#editSemLabel option:selected").text();
	   console.log(txt);
	   $("#label").val(txt);
	}
</script>
</html>