<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Release Announcement</title>
</head>
<body>
	<form th:action="@{/email/save}" th:object="${anno}" method="post">
		Input Announcement:
		<input type="text" th:field="*{message}" />
		<button type="submit" name="btn_dark" id="btn_apply" class="btn btn-primary"
								style="width: 40%; float: right;">Release</button>
	</form>
	<button name="btn_dark" id="btn_cancel" class="btn btn-dark"
								style="margin-right: 3%; width: 40%; float: right;" onclick="window.location.href='/faculty/mycourses'">Cancel</button>
</body>
</html>