<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="./Student_files/bootstrap.min.css">
  <script src="./Student_files/jquery.min.js.download"></script>
  <script src="./Student_files/bootstrap.min.js.download"></script>
<title>Student</title>
</head>
<body>
	<!-- Header and Navigation bar -->

	<h1>Welcome</h1>
	<div>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="http://localhost:8080/student/applycourse#">Student Education Record</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="http://localhost:8080/student/applycourse#">My Courses</a></li>
      				<li class="active"><a href="http://localhost:8080/student/applycourse#">Apply Courses</a></li>
      				<li><a href="http://localhost:8080/student/applycourse#">My Transcript</a></li>
      				<li><a href="http://localhost:8080/student/applycourse#">Movement Record</a></li>
      				<li><a href="http://localhost:8080/student/applycourse#">Log Out</a></li>
    			</ul>
  			</div>
		</nav>
	</div>
	
	<!-- Upper part, display all courserun available with apply button -->
	<div>
		<h2>Available Courses</h2>
	
	</div>
	
	<!-- Middel Part, display all pending courserun application with Cancel button -->
	
	<div>
		<h2>Pending Course Applications</h2>
	</div>
	
	<!-- lower Part, display all rejected courserun application -->
	
	<div>
		<h2>Rejected Course Applications</h2>
	</div>
	


</body></html>