<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/w3.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Faculty/courses</title>
</head>
<body>
	<div class="row" style="margin: 10px">
		<div class="col-md-12">
			<h2 style="color:000000; margin-bottom: 20px">Hello, <text th:text="${faculty.name}">Name</text></h2>
			<ul class="nav nav-pills">
				<li><a href="faculty_home.html" th:href="@{/faculty/home}" class="glyphicon glyphicon-home"> <span>Home</span></a></li>
				<li class="active"><a href="faculty_courses.html" th:href="@{/faculty/mycourses}" class="glyphicon glyphicon-list-alt"> <span>Course</span></a></li>
				<li><a href="faculty_grade.html" th:href="@{/faculty/grade}" class="glyphicon glyphicon-oil"> <span>Grade</span></a></li>
				<li><a href="#" class="glyphicon glyphicon-stats"> <span>Report</span></a></li>
				<li><a href="#" class="glyphicon glyphicon-log-out"> <span>Logout</span></a></li>
			</ul>
		</div>
	</div>
	<div class="row"style="margin: 20px">
	<div class="col-md-12">
		<table class="table table-bordered table-hover">
			<tbody>
			<thead>
				<th>STUDENT ID</th>
				<th>NAME</th>
				<th>BIRTHDATE</th>
				<th>DEGREE</th>
				<th>EMAIL</th>
				<th>GENDER</th>
				<th>MOBILE</th>
				<th>SEMESTER</th>
				<th>STATUS</th>
			</thead>
			<tr th:each="student : ${students}">
				<td th:text=${student.studentId}>Id</td>
				<td th:text=${student.name}>Name</td>
				<td th:text=${student.birthDate}>DOB</td>
				<td th:text=${student.degree}>Degree</td>
				<td th:text=${student.email}>Email</td>
				<td th:text=${student.gender}>Gender</td>
				<td th:text=${student.mobile}>Mobile</td>
				<td th:text=${student.semester.label}>Semester</td>
				<td th:text=${student.status.label}>Status</td>
			</tr>
			</tbody>
		</table>
	</div>
	</div>
	
	<div class="row" style="margin-left:30px">
	<div class="col-md-12" style="margin-top:0px">
			<a th:href="@{/faculty/downloadCSV/classlist?coursename=} + ${coursename}" class="glyphicon glyphicon-print">&nbsp;Export&emsp;</a>	
			&emsp;&emsp;		
			<a th:href="@{/email/prompt?coursename=} + ${coursename}" class="glyphicon glyphicon-envelope">&nbsp;Announcement</a>
	</div>
	</div>
   </br></br></br>
	<div th:insert="~{home :: copy}">Copy</div>
</body>
</html>