<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" th:href="@{/administrator}">Home</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="facultymanagement.html" th:href="@{/facultymanagement}">Faculties</a></li>
      				<li><a href="studentmanagement.html" th:href="@{/studentmanagement}">Students</a></li>
      				<li><a href="departmentmanagement.html" th:href="@{/departmentmanagement}">Departments</a></li>
      				<li><a href="courserunmanagement.html" th:href="@{/courserunmanagement}">Courses</a></li>
      				<li><a href="courseapplication.html" th:href="@{/courseapplication}">Course Application</a></li>
      				<li><a href="admin_movementregister.html" th:href="@{/admin_movementregister}">Leave Calendar</a></li>
      				<li><a href="leaveapplication.html" th:href="@{/leaveapplication}">Leave Application</a></li>
      				<li><a href="logout.html" th:href="@{/logout}">Log Out</a></li>
    			</ul>
  			</div>
		</nav>
	</div>
	<br />
	<div class="container">
		<h2>
			<span th:if="${course.courseName == null}">Add Course</span> 
			<span th:unless="${course.courseName == null}">Edit Course</span>
		</h2>
		<form th:object="${course}" th:action="@{/savecourserun}"
			method="post">
			<div class="form-inline">
				<label for="courseName">Course Name</label> 
				<span th:if="${course.courseName == null}"> 
					<input type="text" th:field="${course.courseName}" class="form-control" required>
					<input type="text" th:value="${currentSemester}" name="currentSemester" placeholder="eg. AY2019/2020Sem1" class="form-control" pattern=".{15}" required title="Semester must be exactly AYXXXX/XXXXSemX">
				</span> 
				<span th:unless="${course.courseName == null}"> 
					<input type="text" th:field="${course.courseName}" class="form-control" readonly>
					<input type="hidden" th:field="${course.semester.semester}" readonly> 
					<input type="hidden" value="" name="currentSemester" class="form-control">
				</span>
			</div>
			<div class="form-group">
				<label for="courseCode">Course Code</label>
				<input type="text" th:field="${course.courseCode}" class="form-control" maxlength="8" required>
				<!-- <p th:if="${#fields.hasErrors('courseCode')}" th:errors="${course.courseCode}" class="alert alert-danger"></p> -->
			</div>
			<div class="form-group">
				<label for="facultyId">Faculty</label>
				<select th:field="${course.faculty.facultyId}" class="form-control">
					<option th:each="f : ${flist}" th:value="${f.facultyId}" th:text="${f.name}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="courseUnit">Course Units</label>
				<input type="number" th:field="${course.courseUnit}" class="form-control" required>
				<!-- <p th:if="${#fields.hasErrors('courseUnit')}" th:errors="${course.courseUnit}" class="alert alert-danger"></p> -->
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
	</div>
	<div th:insert="~{home :: copy}">Copy</div>
</body>
</html>