<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Course Runs</title>
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" th:href="@{/administrator}">Home</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="facultymanagement.html" th:href="@{/facultymanagement}">Faculties</a></li>
      				<li><a href="studentmanagement.html" th:href="@{/studentmanagement}">Students</a></li>
      				<li><a href="departmentmanagement.html" th:href="@{/departmentmanagement}">Departments</a></li>
      				<li class="active"><a href="courserunmanagement.html" th:href="@{/courserunmanagement}">Courses</a></li>
      				<li><a href="courseapplication.html" th:href="@{/courseapplication}">Course Application</a></li>
      				<li><a href="admin_movementregister.html" th:href="@{/admin_movementregister}">Leave Calendar</a></li>
      				<li><a href="leaveapplication.html" th:href="@{/leaveapplication}">Leave Application</a></li>
      				<li><a href="logout.html" th:href="@{/logout}">Log Out</a></li>
    			</ul>
  			</div>
		</nav>
	</div>
	<br/>
	<h1>All Course Runs</h1>
	<div class="row" style="margin: 20px">
		<div class="col-md-12">
			<a class="btn btn-primary" href="#" th:href="@{/addcourserun}" role="button">Add Course Run</a>
			<br/>
			<div th:if="${courserunPage.totalPages > 0}" class="pagination"
   				 th:each="coursePageNumber : ${courserunPageNumbers}">
			    <a th:href="@{/courserunmanagement(size=${courserunPage.size}, page=${coursePageNumber})}"
		        	th:text=${coursePageNumber}
			        th:class="${coursePageNumber==courserunPage.number + 1} ? active"></a>
			</div>
			<table class="table table-hover">
				<tbody>
					<thead>
						<th>Course Name</th>
						<th>Course Code</th>
						<th>Semester</th>
						<th>Faculty</th>
						<th>Course Units</th>
						<th colspan="3"></th>
					</thead>
					<tr th:each="course:${courserunPage.content}">
						<td th:text=${course.courseName}>Course Name</td>
						<td th:text=${course.courseCode}>Course Code</td>
						<td th:text=${course.semester.label}>Semester</td>
						<td th:text=${course.faculty.name}>Faculty Name</td>
						<td th:text=${course.courseUnit}>Course Units</td>
						<td><a th:href="${'/viewcourserun/' + course.courseCode + '/' + course.semester.semester}">View</a></td>
						<td><a th:href="${'/editcourserun/' + course.courseCode + '/' + course.semester.semester}">Edit</a></td>
						<td><a th:href="${'/deletecourserun/' + course.courseCode + '/' + course.semester.semester}">Delete</a></td>
				</tbody>
			</table>
			<div th:if="${message == 'Failed'}" class="alert alert-danger">
				<strong>Failed to delete<br/>
				<a th:href="${'/viewcourserun/' + failedCourse.courseCode + '/' + failedCourse.semester.semester}"} th:text="${failedCourse.courseName}"></a></strong><br/>
				Course contains enrolled students
			</div>
		</div>
	</div>
	<div th:insert="~{home :: copy}">Copy</div>
</body>
</html>