<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Course Application</title>
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" th:href="@{/administrator}">Home</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="facultymanagement.html" th:href="@{/facultymanagement}">Faculties</a></li>
      				<li><a href="studentmanagement.html" th:href="@{/studentmanagement}">Students</a></li>
      				<li><a href="departmentmanagement.html" th:href="@{/departmentmanagement}">Departments</a></li>
      				<li><a href="courserunmanagement.html" th:href="@{/courserunmanagement}">Courses</a></li>
      				<li class="active"><a href="courseapplication.html" th:href="@{/courseapplication}">Course Application</a></li>
      				<li><a href="admin_movementregister.html" th:href="@{/admin_movementregister}">Leave Calendar</a></li>
      				<li><a href="leaveapplication.html" th:href="@{/leaveapplication}">Leave Application</a></li>
      				<li><a href="#">Logout</a></li>
    			</ul>
  			</div>
		</nav>
	</div>
	<br/>
	<h1>Pending Course Applications</h1>
	<div class="row" style="margin: 20px">
		<div class="col-md-12">
			<div th:if="${pendingPage.totalPages > 0}" class="pagination"
   				 th:each="pendingPageNumber : ${pendingPageNumbers}">
			    <a th:href="@{/courseapplication(size=${pendingPage.size}, page=${pendingPageNumber})}"
		        	th:text=${pendingPageNumber}
			        th:class="${pendingPageNumber==pendingPage.number + 1} ? active"></a>
			</div>
			<table class="table table-hover">
				<tbody>
					<thead>
						<th>Course Name</th>
						<th>Student ID</th>
						<th>Student Name</th>
						<th colspan="2"></th>
					</thead>
					<tr th:each="pendingStudent:${pendingPage.content}">
					<td th:text=${pendingStudent.id.courserun.courseName}>Course Name</td>
					<td th:text=${pendingStudent.id.student.studentId}>Student ID</td>
					<td th:text=${pendingStudent.id.student.name}>Student Name</td>
					<td><a th:href="${'/acceptcourse/' + pendingStudent.id.student.studentId +'/'+ pendingStudent.id.courserun.courseCode+'/'+ pendingStudent.id.courserun.semester.semester}" class="btn btn-success">Approve</a></td>
					<td><a th:href="${'/rejectcourse/' + pendingStudent.id.student.studentId +'/'+ pendingStudent.id.courserun.courseCode+'/'+ pendingStudent.id.courserun.semester.semester}" class="btn btn-danger">Reject</a></td>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>