<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Faculty Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Home</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/departmentmanagement">Department 
										Management</a></li>
					<li><a href="#">Page 1</a></li>
					<li><a href="#">Page 2</a></li>
					<li><a href="/home" th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<br/>
	<div class="container">
		<h2>
			<span th:if="${department.name == null}">Add Department</span>
			<span th:unless="${department.name == null}">Edit Department</span>
		</h2>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form th:object="${department}" th:action="@{/savedepartment}" method="post">
						<div class="form-group">
						<label for="departmentId">Department ID</label>
							<span th:if="${department.name == null}">
								<input type="text" th:value="${newDepartmentId}" id="departmentId" name="departmentId" class="form-control" readonly>
							</span>
							<span th:unless="${department.name == null}">
								<input type="text" th:field="*{departmentId}" class="form-control">
							</span>
							<!-- <p th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}" class="alert alert-danger"></p> -->
						</div>
						<div class="form-group">
						<label for="name">Name</label>
							<input type="text" th:field="*{name}" class="form-control">
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></p>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Save</button>
						</div> 
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>