<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Faculty Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" th:href="@{/administrator}">Home</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="facultymanagement.html" th:href="@{/facultymanagement}">Faculties</a></li>
      				<li><a href="studentmanagement.html" th:href="@{/studentmanagement}">Students</a></li>
      				<li><a href="departmentmanagement.html" th:href="@{/departmentmanagement}">Departments</a></li>
      				<li><a href="courserunmanagement.html" th:href="@{/courserunmanagement}">Courses</a></li>
      				<li><a href="courseapplication.html" th:href="@{/courseapplication}">Course Application</a></li>
      				<li><a href="admin_movementregister.html" th:href="@{/admin_movementregister}">Leave Calendar</a></li>
      				<li><a href="leaveapplication.html" th:href="@{/leaveapplication}">Leave Application</a></li>
      				<li><a href="logout.html" th:href="@{/logout}">Log Out</a></li>
    			</ul>
  			</div>
		</nav>
	</div>
	<br/>
	<div class="container">
		<h2>
			<span th:if="${department.name == null}">Add Department</span>
			<span th:unless="${department.name == null}">Edit Department</span>
		</h2>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form th:object="${department}" th:action="@{/savedepartment}" method="post">
						<div class="form-group">
						<label for="departmentId">Department ID</label>
							<span th:if="${department.name == null}">
								<input type="text" th:value="${newDepartmentId}" id="departmentId" name="departmentId" class="form-control" readonly>
							</span>
							<span th:unless="${department.name == null}">
								<input type="text" th:field="*{departmentId}" class="form-control">
							</span>
						</div>
						<div class="form-group">
						<label for="name">Name</label>
							<input type="text" th:field="*{name}" class="form-control">
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></p>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Save</button>
						</div> 
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="~{home :: copy}">Copy</div>
</body>
</html>