<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Faculty Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" th:href="@{/administrator}">Home</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li class="active"><a href="facultymanagement.html" th:href="@{/facultymanagement}">Faculties</a></li>
      				<li><a href="studentmanagement.html" th:href="@{/studentmanagement}">Students</a></li>
      				<li><a href="departmentmanagement.html" th:href="@{/departmentmanagement}">Departments</a></li>
      				<li><a href="courserunmanagement.html" th:href="@{/courserunmanagement}">Courses</a></li>
      				<li><a href="courseapplication.html" th:href="@{/courseapplication}">Course Application</a></li>
      				<li><a href="admin_movementregister.html" th:href="@{/admin_movementregister}">Leave Calendar</a></li>
      				<li><a href="leaveapplication.html" th:href="@{/leaveapplication}">Leave Application</a></li>
      				<li><a href="#">Logout</a></li>
    			</ul>
  			</div>
		</nav>
	</div>
	<h1>List of Faculties</h1>
	<div class="row" style="margin: 20px">
		<div class="col-md-12">
			<a class="btn btn-primary" role="button" href="facultyform.html" th:href="@{/addfaculty}">Add Faculty</a>
			<br/>
			<table class="table table-hover">
				<tr>
					<th>Faculty Id</th>
					<th>Name</th>
					<th>Status</th>
					<th>Department name</th>
					<th colspan="2"></th>
				</tr>
				<tr th:each="faculty:${faculty}">
					<td th:text=${faculty.facultyId}>FacultyId</td>
					<td th:text=${faculty.name}>Name</td>
					<td th:text=${faculty.status.label}>Status</td>
					<td th:text=${faculty.department.name}>DepartmentName</td>
					<td><a href="editfaculty.html" th:href="@{/editfaculty/}+${faculty.facultyId}"> 
						Edit </a></td>
					<td><a href="deletefaculty.html" th:href="@{/deletefaculty/}+${faculty.facultyId}"> 
						Delete </a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>