<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Faculty Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Add Faculty Form</h1>
		<form th:object="${faculty}" th:action="@{/savefaculty}" method="post">
		<fieldset>
		Faculty Id: <input type="text" th:field="*{facultyId}">
		<p th:if="${#fields.hasErrors('facultyId')}" th:errors="*{facultyId}"></p>
		</fieldset>
		<fieldset>
		Name: <input type="text" th:field="*{name}">
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		</fieldset>
		<fieldset>
		Department :
		<select th:field="*{department.departmentId}">
		<option th:value="0">Select department</option>
		<option th:each="department:${departments}" th:value="${department.departmentId}" th:text="${department.name}">
		</option>
		</select>
		</fieldset>
		<fieldset>
		Status :
		<select th:field="*{status.status}">
		<option th:value="0">Select Status</option>
		<option th:each="status:${statuses}" th:if="${status.status == 2 OR status.status == 10}" 
				th:value="${status.status}" th:text="${status.label}">
		</option>
		</select>
		</fieldset>
		<fieldset>
			<button type="submit">Save</button>
		</fieldset> 
		</form>
</body>
</html>