<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/daterangepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="/moment.min.js"></script> 
<script src="/jquery.daterangepicker.min.js"></script> 

<title>Faculty/leave</title>
</head>
<body>
	<div class="row" style="margin: 10px">
		<div class="col-md-12">
			<h2 style="color: 000000; margin-bottom: 20px">Hello, <text th:text="${faculty.name}">Name</text></h2>
			<ul class="nav nav-pills">
				<li><a href="faculty_home.html" th:href="@{/faculty/home}"
					class="glyphicon glyphicon-home"> <span>Home</span>
				</a></li>
				<li><a href="faculty_courses.html" th:href="@{/faculty/mycourses}" class="glyphicon glyphicon-list-alt"> <span>Course</span></a></li>
				<li><a href="http://localhost:8080/faculty/grade"
					class="glyphicon glyphicon-oil"> <span>Grade</span></a></li>
				<li><a href="#" class="glyphicon glyphicon-stats"> <span>Report</span></a></li>
				<li><a href="#" class="glyphicon glyphicon-log-out"> <span>Logout</span></a></li>
			</ul>
		</div>
	</div>	
	<form th:object="${leave}" th:action="@{/faculty/createleave}" method="post">
	<div class="form container" >	
		<div class="row">	
			<div class="col-sm-12 col-sm-offset-4" style="margin-bottom:20px; margin-top:40px">
				<label for="Start" class="col-sm-2 col-form-label">Start Date:</label>
				<input type="date" placeholder="" th:type="date" th:field="*{id.startDate}"/>
			</div>
			
			<div class="col-sm-12 col-sm-offset-4" style="margin-bottom:20px">
				<label for="End" class="col-sm-2 col-form-label">End Date:</label>
				<input type="date" placeholder="" th:type="date" th:field="*{endDate}"/>
			</div>
			<input type="hidden" th:field="*{id.id}" th:value="${faculty.facultyId}" />
			<input type="hidden" th:field="*{id.userType}" value="Faculty" />
		</div>
	</div>
    <div class="form-group col-sm-12 col-sm-offset-4">
        <label for="select" class="col-sm-2 control-label">Leave Reason:</label>
            <div class="input-group col-sm-4">
				<select id="select" class="col-sm-5" th:field="*{reason}">
					<option value="">-</option>
					<option value="Paid leave">Paid leave</option>
					<option value="Unpaid leave">Unpaid leave</option>
					<option value="Medical leave">Medical leave</option>
					<option value="Medical leave">No reason</option>
				</select>
			</div>
    </div>
	
	<div class="form-group" style="margin-top: 3%;">
		<div class="input-group col-sm-3 col-sm-offset-8">
			<button type="submit" name="btn_dark" id="btn_apply" class="btn btn-primary"
								style="width: 40%; float: right;">Apply</button>
			<button name="btn_dark" id="btn_cancel" class="btn btn-dark"
								style="margin-right: 3%; width: 40%; float: right;">Cancel</button>
		</div>
	</div>
	</form>

</body>
</html>