<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Faculty/courses</title>
</head>
<body>
	<div class="row" style="margin: 20px">
		<div class="col-md-12">
			<h2 style="color:000000">Hello, UserName</h2>
			<ul class="nav nav-pills">
				<li><a href="http://localhost:8080/faculty/home" class="glyphicon glyphicon-home"> <span>Home</span>
				</a></li>
				<li class="active"><a href="http://localhost:8080/faculty/courses"
					class="glyphicon glyphicon-list-alt"> <span>Course</span></a></li>
				<li><a href="http://localhost:8080/faculty/courses"
					class="glyphicon glyphicon-oil"> <span>Grade</span></a></li>
				<li><a href="#" class="glyphicon glyphicon-stats"> <span>Report</span></a></li>
				<li><a href="#" class="glyphicon glyphicon-log-out"> <span>Logout</span></a></li>
			</ul>
		</div>
	</div>
	<div class="row"style="margin: 20px">
	<div class="col-md-12">
		<table class="table table-bordered table-hover">
			<tbody>
			<thead>
				<th>COURSE CODE</th>
				<th>COURSE NAME</th>
				<th>SEMESTER</th>
				<th>NO.STUDENT</th>
				<th>COURSES UNIT</th>

			</thead>
			<tr>
				<td>CCE01</td>
				<td>Chemical Engineering</td>
				<td>1</td>
				<td>Calculate</td>
				<td>16</td>
			</tr>
			<tr>
				<td>CCE01</td>
				<td>Chemical Engineering</td>
				<td>2</td>
				<td>Calculate</td>
				<td>16</td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>
</body>
</html>