<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/daterangepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="/moment.min.js"></script> 
<script src="/jquery.daterangepicker.min.js"></script> 

<title>Faculty/grade</title>
</head>
<body>
	<div class="row" style="margin: 20px">
		<div class="col-md-12">
			<h2 style="color: 000000">Hello, UserName</h2>
			<ul class="nav nav-pills">
				<li><a href="http://localhost:8080/faculty/home"
					class="glyphicon glyphicon-home"> <span>Home</span>
				</a></li>
				<li><a href="http://localhost:8080/faculty/courses"
					class="glyphicon glyphicon-list-alt"> <span>Course</span></a></li>
				<li class="active"><a href="http://localhost:8080/faculty/grade"
					class="glyphicon glyphicon-oil"> <span>Grade</span></a></li>
				<li><a href="#" class="glyphicon glyphicon-stats"> <span>Report</span></a></li>
				<li><a href="#" class="glyphicon glyphicon-log-out"> <span>Logout</span></a></li>
			</ul>
		</div>
	</div>
	<div class="row"style="margin: 20px">
		<div class="col-md-4">
			<div class="col-sm-3"><label for="Choose_Semester" class="col-form-label">Semester</label></div>
			<div class="col-sm-8"><select id="form_semester" name="dob_semester">
				<option value="-">-</option>
				<option value="1">AY2017/2018Sem1</option>
				<option value="2">AY2017/2018Sem2</option>
				<option value="3">AY2018/2019Sem1</option>
				<option value="4">AY2019/2020Sem1</option>
				<option value="5">AY2019/2020Sem2</option>
			</select>
			</div>
		</div>
		<div class="col-md-8">
			<div class="col-sm-1"><label for="Choose_courserun"  class="col-form-label">Course</label></div>
			<div class="col-sm-7"><select id="form_semester" name="dob_semester">
			<option value="-">-</option>
			<option value="1">[CCE01]/Chemical Engineering AY17/18S1</option>
			<option value="2">[ITDL01]/Digital Leadership AY17/18S1</option>
			<option value="3">[ITIS01]/Information System AY18/19S1</option>
			<option value="4">[CIS02]/Intelligent System AY19/20S2</option>
			<option value="5">[MME01]/Manufacturing Engineering AY17/18S1</option>
			</select>
			</div>
		</div>
	</div>
	
	<div class="row"style="margin: 20px">
	<div class="col-md-12">
		<table class="table table-bordered table-hover">
			<tbody>
			<thead>
			    <th>COURSE ID</th>
			    <th>COURSE NAME</th>
				<th>STUDENT ID</th>
				<th>STUDENT NAME</th>
				<th>GRADE</th>

			</thead>
			<tr>
			    <td>CCE01</td>
				<td>Chemical Engineering AY17/18S1</td>
				<td>10001</td>
				<td>Terry Foo</td>
				<td><select id="form_grade" name="grade" class="col-sm-4" style="width:60%">
			<option value="-">-</option>
			<option value="1">A+</option>
			<option value="2">A</option>
			<option value="3">A-</option>
			<option value="4">B+</option>
			<option value="5">B</option>
			<option value="-">B-</option>
			<option value="1">C+</option>
			<option value="2">C</option>
			<option value="3">D+</option>
			<option value="4">D</option>
			</select>
			</td> 
			</tr>
			<tr>
			    <td>ITDL01</td>
				<td>Digital Leadership AY17/18S1</td>
				<td>10006</td>
				<td>Sheryl Ho</td>
				<td><select id="form_grade" name="grade" class="col-sm-4" style="width:60%">
			<option value="-">-</option>
			<option value="1">A+</option>
			<option value="2">A</option>
			<option value="3">A-</option>
			<option value="4">B+</option>
			<option value="5">B</option>
			<option value="-">B-</option>
			<option value="1">C+</option>
			<option value="2">C</option>
			<option value="3">D+</option>
			<option value="4">D</option>
			</select>
			</td> 
			</tr>
			
			</tbody>
		</table>
		</div>
	</div>
	
	<div class="form-group" style="margin-top: 0%; margin-right:32px">
						<div class="input-group col-sm-3 col-sm-offset-9">
							<button type="submit" name="btn_dark" id="btn_apply" class="btn btn-primary"
								style="width: 40%; float: right;">Submit</button>
							<button name="btn_dark" id="btn_cancel" class="btn btn-dark"
								style="margin-right: 3%; width: 40%; float: right;">Cancel</button>
						</div>
					</div>
	
	
	
</body>
</html>