<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/daterangepicker.min.css" />
<link rel="stylesheet" href="/w3.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="/moment.min.js"></script>
<script src="/jquery.daterangepicker.min.js"></script>

<title>Faculty/grade</title>
</head>
<body>
	<div class="row" style="margin: 10px">
		<div class="col-md-12">
			<h2 style="color: 000000; margin-bottom: 20px">Hello, <text th:text="${faculty.name}">Name</text></h2>
			<ul class="nav nav-pills">
				<li><a href="faculty_home.html" th:href="@{/faculty/home}" class="glyphicon glyphicon-home"> <span>Home</span></a></li>
				<li><a href="faculty_courses.html" th:href="@{/faculty/mycourses}" class="glyphicon glyphicon-list-alt"> <span>Course</span></a></li>
				<li class="active"><a href="faculty_grade.html" th:href="@{/faculty/grade}" class="glyphicon glyphicon-oil"> <span>Grade</span></a></li>
				<li><a href="faculty_movementregister.html" th:href="@{/faculty/movement}" class="glyphicon glyphicon-tasks"> <span>Movement</span></a></li>
				<li><a href="faculty_report.html" th:href="@{/faculty/report}" class="glyphicon glyphicon-stats"> <span>Report</span></a></li>
				<li><a href="staffLogin.html" th:href="@{/logout}" class="glyphicon glyphicon-log-out"> <span>Logout</span></a></li>
			</ul>
		</div>
	</div>
	<div class="row" style="margin: 20px">
		<div class="col-md-7">
			<div class="col-sm-2">
				<label for="Choose_Courses" class="col-form-label">Courses:</label>
			</div>
			<div class="col-sm-9">
				<select id="form_Courses" name="dob_Courses"
					onchange="onSelectChange()">
					<option id="-" value="-">-</option>
					<option th:each="courserun:${courseruns}"
						th:id="${courserun.courseCode} + ${courserun.semester.semester}"
						th:value="${courserun.courseName}"
						th:text="'['+${courserun.courseCode}+']/'+${courserun.courseName}">
				</select>
			</div>
		</div>
	</div>
	<form action="#" th:action="@{/faculty/grade/submit}" th:object="${wrapper}" method="post">
	<div class="row" style="margin: 20px">
		<div class="col-md-12">
			<table class="table table-bordered table-hover">
				<tbody>
				<thead>
					<th>COURSE ID</th>
					<th>COURSE NAME</th>
					<th>STUDENT ID</th>
					<th>STUDENT NAME</th>
					<th>GRADE</th>

				</thead>
				<tr th:each="courseRunStudent, rowStat :${wrapper.courserunStudents}">
					<td><input size=5 style="border:none" type="text" th:field="*{courserunStudents[__${rowStat.index}__].id.courserun.courseCode}" readonly /></td>
					<td><input size=25 style="border:none" type="text" th:field="*{courserunStudents[__${rowStat.index}__].id.courserun.courseName}" readonly /></td>
					<td><input style="border:none" type="text" th:field="*{courserunStudents[__${rowStat.index}__].id.student.studentId}" readonly /></td>
					<td><input style="border:none" type="text" th:field="*{courserunStudents[__${rowStat.index}__].id.student.name}" readonly /></td>
					<td><select class="col-sm-4" style="width: 60%" th:field="*{courserunStudents[__${rowStat.index}__].grade}">
							<option th:value="${courseRunStudent.grade}" th:text="${courseRunStudent.grade}">-</option>
							<option value="A+">A+</option>
							<option value="A">A</option>
							<option value="A-">A-</option>
							<option value="B+">B+</option>
							<option value="B">B</option>
							<option value="B-">B-</option>
							<option value="C+">C+</option>
							<option value="C">C</option>
							<option value="D+">D+</option>
							<option value="D">D</option>
					</select></td>
				</tr>

				</tbody>
			</table>
		</div>
	</div>

	<div class="form-group" style="margin-top: 0%; margin-right: 32px">
		<div class="input-group col-sm-3 col-sm-offset-9">
			<button type="submit" name="btn_dark" id="btn_apply"
				class="btn btn-primary" style="width: 40%; float: right;">Submit</button>
			<button name="btn_dark" id="btn_cancel" class="btn btn-dark" type="reset"
				style="margin-right: 3%; width: 40%; float: right;" onclick="window.location.href='/faculty/home'">Cancel</button>
		</div>
	</div>
	</form>
	<input type="hidden" th:value="${courseKey}" id="hidden_input" />
	<button onclick="onClick()" class="btn btn-primary">Export Grade</button>
	<script>
		var hidden_input = $('#hidden_input').val();
		var hidden_input_selector = '#' + hidden_input.toString();
		console.log(hidden_input_selector);
		$(hidden_input_selector).attr("selected", true)
		function onSelectChange() {
			var courseSelect = document.getElementById("form_Courses");
			console.log(courseSelect);
			var selectedCoursesName = courseSelect.value;
			console.log("selected:" + selectedCoursesName);
			window.location.href = 'grade?coursename=' + selectedCoursesName;
		}
		function onClick(){
			var courseSelect = document.getElementById("form_Courses");
			console.log(courseSelect);
			var selectedCoursesName = courseSelect.value;
			console.log("selected:" + selectedCoursesName);
			window.location.href = 'exportGrades?coursename=' + selectedCoursesName;
		}
		
/* 		function myFunction() {
			var txt;
			if (confirm("Grade Submitted")) {
				if (txt = "OK") {
					location.replace("http://localhost:8080/faculty/grade?coursename=" + selectedCoursesName)
				}
			}
			document.getElementById("demo").innerHTML = txt;
		} */
	</script>
	<div th:insert="~{home :: copy}">Copy</div>
</body>
</html>