<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/w3.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Faculty/courses</title>
</head>
<body>
	<div class="row" style="margin: 10px">
		<div class="col-md-12">
			<h2 style="color:000000; margin-bottom: 20px">Hello, <text th:text="${faculty.name}">Name</text></h2>
			<ul class="nav nav-pills">
				<li><a href="faculty_home.html" th:href="@{/faculty/home}" class="glyphicon glyphicon-home"> <span>Home</span></a></li>
				<li class="active"><a href="faculty_courses.html" th:href="@{/faculty/mycourses}" class="glyphicon glyphicon-list-alt"> <span>Course</span></a></li>
				<li><a href="faculty_grade.html" th:href="@{/faculty/grade}" class="glyphicon glyphicon-oil"> <span>Grade</span></a></li>
				<li><a href="faculty_movementregister.html" th:href="@{/faculty/movement}" class="glyphicon glyphicon-tasks"> <span>Movement</span></a></li>
				<li><a href="faculty_report.html" th:href="@{/faculty/report}" class="glyphicon glyphicon-stats"> <span>Report</span></a></li>
				<li><a href="staffLogin.html" th:href="@{/logout}" class="glyphicon glyphicon-log-out"> <span>Logout</span></a></li>
			</ul>
		</div>
	</div>
	<div class="row"style="margin: 20px">
	<div class="col-md-12">
		<table class="table table-bordered table-hover">
			<tbody>
			<thead>
				<th>COURSE CODE</th>
				<th>COURSE NAME</th>
				<th>SEMESTER</th>
				<th>COURSES UNIT</th>
			</thead>
			<tr th:each="c : ${faculty.courseruns}">
				<td th:text="${c.courseCode}">Course Code</td>
				<td><a href="course_class_list.html" th:href="@{/faculty/this_course?coursename=} + ${c.courseName}" th:text="${c.courseName}">Course Name</a></td>
				<td th:text="${c.semester.label}">Semester</td>
				<td th:text="${c.courseUnit}">Course Unit</td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>
	<div th:insert="~{home :: copy}">Copy</div>
</body>
</html>