<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Faculty Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Add Faculty Form</h1>
		<form th:object="${faculty}" th:action="@{/administrator/savefaculty}" method="post">
		<fieldset>
		Faculty Id: <input type="text" th:field="*{facultyId}">
		<p th:if="${#fields.hasErrors('facultyId')}" th:errors="*{facultyId}"></p>
		</fieldset>
		<fieldset>
		Name: <input type="text" th:field="*{name}">
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		</fieldset>
		<fieldset>
		Department Id: <input type="text" th:field="*{department.departmentId}">
		<p th:if="${#fields.hasErrors('department.departmentId')}" th:errors="*{department.departmentId}"></p>
		</fieldset>
<!-- 	  	<fieldset>
		Department Name: <input type="text" th:field="*{department.name}">
		<p th:if="${#fields.hasErrors('department.name')}" th:errors="*{department.name}"></p>
		</fieldset> -->
		<fieldset>
		Status Id: <input type="text" th:field="*{status.status}">
		<p th:if="${#fields.hasErrors('status.status')}" th:errors="*{status.status}"></p>
		</fieldset>	
<!-- 		<fieldset>
		Status: <input type="text" th:field="*{status.label}">
		<p th:if="${#fields.hasErrors('status.label')}" th:errors="*{status.label}"></p>
		</fieldset> -->
		<fieldset>
			<button type="submit">Save</button>
		</fieldset>
		</form>
		<div th:object="${faculty}">
		<select class="form-control" id="status">
		<option value="">Select status</option>
		<option th:each="faculty:${faculties}" th:value="${faculty.status.status}" th:text="${faculty.status.label}">
		</option>
		</select>
		</div>
</body>
</html>