<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Application</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" th:href="@{/administrator}">Home</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="facultymanagement.html" th:href="@{/facultymanagement}">Faculties</a></li>
      				<li><a href="studentmanagement.html" th:href="@{/studentmanagement}">Students</a></li>
      				<li><a href="departmentmanagement.html" th:href="@{/departmentmanagement}">Departments</a></li>
      				<li><a href="courserunmanagement.html" th:href="@{/courserunmanagement}">Courses</a></li>
      				<li><a href="courseapplication.html" th:href="@{/courseapplication}">Course Application</a></li>
      				<li><a href="admin_movementregister.html" th:href="@{/admin_movementregister}">Leave Calendar</a></li>
      				<li class="active"><a href="leaveapplication.html" th:href="@{/leaveapplication}">Leave Application</a></li>
      				<li><a href="#">Logout</a></li>
    			</ul>
  			</div>
		</nav>
	</div>
		
	<h1>Leave Application</h1>
	<div class="row" style="margin: 20px">
		<div class="col-md-12">
			<table class="table table-hover">
				<tr>
					<th>Start date</th>
					<th>End date</th>
					<th>User type</th>
					<th>USer Id</th>
					<th>Reason</th>
					<th>Status</th>
					<th colspan="2"></th>
				</tr>
				<tr th:if="${leave.status.status == 4}" th:each="leave:${leaves}">
					<td th:text=${leave.id.startDate}>StartDate</td>
					<td th:text=${leave.endDate}>EndDate</td>
					<td th:text=${leave.id.userType}>UserType</td>
					<td th:text=${leave.id.id}>StudentId</td>
					<td th:text="${leave.reason}">Reason</td>
					<td th:text="${leave.status.label}">Status</td>
					<td><a th:href="${'/approveleave/' + leave.id.startDate +'/'+ 
									leave.id.userType+'/'+ leave.id.id}" 
									class="btn btn-success">Approve</a>
					</td>
					<td><a th:href="${'/rejectleave/' + leave.id.startDate +'/'+ 
									leave.id.userType+'/'+ leave.id.id}" 
									class="btn btn-danger">Reject</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>