<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#" th:href="@{/administrator}">Home</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="facultymanagement.html" th:href="@{/facultymanagement}">Faculties</a></li>
      				<li><a href="studentmanagement.html" th:href="@{/studentmanagement}">Students</a></li>
      				<li><a href="departmentmanagement.html" th:href="@{/departmentmanagement}">Departments</a></li>
      				<li><a href="courserunmanagement.html" th:href="@{/courserunmanagement}">Courses</a></li>
      				<li><a href="courseapplication.html" th:href="@{/courseapplication}">Course Application</a></li>
      				<li><a href="admin_movementregister.html" th:href="@{/admin_movementregister}">Leave Calendar</a></li>
      				<li><a href="leaveapplication.html" th:href="@{/leaveapplication}">Leave Application</a></li>
      				<li><a href="#">Logout</a></li>
    			</ul>
  			</div>
		</nav>
	</div>
	<br/>
	<div class="row" style="margin: 20px">
		<div class="col-md-12">
			<h2 th:text="${student.name}"></h2>
			<h4>Student Id: <span th:text="${student.studentId}"></span></h4>
			<h4>Email: <span th:text="${student.email}"></span></h4>
			<h4>Current Semester: <span th:text="${student.semester.label}"></span></h4>
			<h4>Current Status: <span th:text="${student.status.label}"></span></h4>
			
			
			<table class="table table-hover">
				<tbody>
					<thead>
						<th>Course Code</th>
						<th>Course Name</th>
						<th>Course Unit</th>
						<th>Semester</th>
						<th>Faculty</th>
						<th>Grade</th>
						<th>Unit</th>
						<th>Status</th>
					</thead>
					<tr th:each="c:${coursesPerStudent}">
						<td th:text="${c.id.courserun.courseCode}">Course Code</td>
						<td th:text="${c.id.courserun.courseName}">Course Name</td>
						<td th:text="${c.id.courserun.courseUnit}">Course Unit</td>
						<td th:text="${c.id.courserun.semester.semester}">Semester</td>
						<td th:text="${c.id.courserun.faculty.name}">Faculty</td>
						<td th:text="${c.grade}">Grade</td>
						<td th:text="${c.id.courserun.courseUnit}">Unit</td>
						<td th:text="${c.status.label}">Status</td>
				</tbody>
			</table>
		</div>
	</div>